doctype
html
  head
    title= title
    meta(name="description" content="#{ description }")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/images/favicon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    link(rel="stylesheet" href="/css/font-awesome-animation.min.css")
    link(rel="stylesheet" href="/less/main.css")
    script(src="https://unpkg.com/scrollreveal")
  body
    include ./common/header.jade
    != yield
    i.fas.fa-chevron-up(id="go-up")
    script(src="/js/app.js")