section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | Contact

                form(id="mailer-form" method="POST" action="/mail")
                    div(id="success-ctr")
                    div.field
                    label.label Nom & Prénom *
                    div.control
                        input.input(type="text" name="name" id="name" placeholder="Vos nom et prénom" required)

                    div.field
                    label.label Courriel *
                    div.control
                        input.input(type="email" name="email" id="email" placeholder="Votre adresse courriel" required)

                    div.field
                    label.label Objet *
                    div.control
                        div.select(style="width:100%")
                            select(name="object" id="object" style="width:100%" required)
                                option Prise de rendez-vous
                                option Demande d'informations
                                option Autre

                    div.field
                    label.label Message *
                    div.control
                        textarea.textarea(name="message" id="message" placeholder="Votre message" required)

                    div.field.is-grouped
                    div.control
                        button.button.is-link.g-recaptcha(data-sitekey="6LfTGQMbAAAAAMPw1JvB5QenfOOzkgyguZfr5aeC" data-callback='onSubmit' data-action='submit') Envoyer

            div.column.is-5.has-text-centered
                p.mb-6 16 Boulevard François Pompon, 21000 Dijon
                p lundi	: 08:00–20:00
                p mardi	: 08:00–20:00
                p mercredi : 08:00–20:00
                p jeudi : 08:00–20:00
                p vendredi : 08:00–20:00
                p samedi : 08:00–20:00
                p.mb-6 dimanche : Fermé
                p cedric.tomicki@gmail.com - 06 25 05 35 79
                p.mb-6 vinterantoine.psychologue@gmail.com - 07 67 13 23 87
                a(href="#" data-goto="contact-2" class="main-goto goto is-hidden-touch")
                    | Comment nous trouver ?
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center

section(id="contact-2")
    div(id="map")
    script.
        function initMap() {
            const cabinet = { lat: 47.334529990323716, lng: 5.022017627424289 };
            const map = new google.maps.Map(document.getElementById("map"), {
                mapId: 'fdc96da436c66769',
                zoom: 15,
                center: cabinet,
            });
            const marker = new google.maps.Marker({
                position: cabinet,
                map: map,
            });
        }
        function onSubmit(token) {
            form = document.getElementById("mailer-form")
            
            if (!form.checkValidity()) {
                if (form.reportValidity) {
                    form.reportValidity();
                } else {
                    alert(msg.ieErrorForm);
                }
            } else {
                form.submit();
            }
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        const success = getParameterByName('success');
        if(success){
            document.getElementById("success-ctr").innerHTML = '<div class="notification is-primary">Votre message a bien été envoyé, nous vous recontacterons au plus vite !</div>';
        }

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc6HahV7ZPAzT4bWb3IibyJqJ3XemVqZ0&map_ids=fdc96da436c66769&callback=initMap&libraries=&v=weekly" async)
script(src="https://www.google.com/recaptcha/api.js")
