section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | Contact

                form(action="")
                    div.field
                    label.label Nom & Prénom
                    div.control
                        input.input(type="text" placeholder="Vos nom et prénom")

                    div.field
                    label.label Courriel
                    div.control
                        input.input(type="email" placeholder="Votre adresse courriel")

                    div.field
                    label.label Objet
                    div.control
                        div.select
                            select
                                option Prise de rendez-vous
                                option Demande d'informations
                                option Autre

                    div.field
                    label.label Message
                    div.control
                        textarea.textarea(placeholder="Votre message")

                    div.field.is-grouped
                    div.control
                        button.button.is-link Envoyer

            div.column.is-5.has-text-centered
                p.mb-6 16 Boulevard François Pompon, 21000 Dijon
                p lundi	: 08:00–20:00
                p mardi	: 08:00–20:00
                p mercredi : 08:00–20:00
                p jeudi : 08:00–20:00
                p vendredi : 08:00–20:00
                p samedi : 08:00–20:00
                p.mb-6 dimanche : Fermé
                p cedric.tomicki@gmail.com - vinterantoine.psychologue@gmail.com
                p.mb-6 06 25 05 35 79 - 07 67 13 23 87
                a(href="#" data-goto="contact-2" class="main-goto goto") 
                    | Comment nous trouver ?
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center

section(id="contact-2")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-12
                h2.has-text-centered Carte interactive (à faire)