section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | Thérapie par
                    | Exposition en 
                    | Réalité 
                    | Virtuelle

                h2.mb-6
                    | Affrontez vos phobies grâce à la
                    | technologie de Réalité Virtuelle

                a.button.big-button(href="la-therapie") En savoir plus
    img.illustration.is-hidden-touch(src="/images/accueil.png")
    img.frame.frame-layer-1.is-hidden-touch(src="/images/frame-layer-1_alt.png")
    img.frame.frame-layer-2.is-hidden-touch(src="/images/frame-layer-2_alt.png")
    img.frame.frame-layer-3.is-hidden-touch(src="/images/frame-layer-3_alt.png")
    img.frame.frame-layer-4.is-hidden-touch(src="/images/frame-layer-4_alt.png")
    img.frame.frame-layer-5.is-hidden-touch(src="/images/frame-layer-5_alt.png")
    img.frame.frame-layer-6.is-hidden-touch(src="/images/frame-layer-6_alt.png")
section
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-hidden-touch.is-1
            div.column.is-12-tablet.is-10-desktop
                div.columns.is-mobile
                    div.column.is-4-widescreen.stair-card.card-1
                        img.is-16by9(src="/images/card-1.jpg")
                        div.card-content
                            h3 Le cabinet
                            p Découvrez notre cabinet et faisons connaissance
                            a(class="button minimal-btn" href="le-cabinet") +
                    div.column.is-4-widescreen.stair-card.tomove.card-2
                        img.is-16by9(src="/images/card-2.jpg")
                        div.card-content
                            h3 Les phobies
                            p Nous vous présentons les troubles les plus communément tratés au sein de notre cabinet
                            a(class="button minimal-btn" href="contact") +
                    div.column.is-4-widescreen.stair-card.tomove.card-3
                        img.is-16by9(src="/images/card-3.jpg")
                        div.card-content
                            h3 La thérapie
                            p Familiarisez vous avec le concept de la thérapie par exposition en réalité virtuelle
                            a(class="button minimal-btn" href="la-therapie") +