section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered.is-multiline
            div.column.is-1
            div.column.is-5
                h1
                    | La
                    | Relaxation

                p.main.mb-6
                    | Les phobies sont parmis les troubles les plus propices au traitement par la Thérapie par Exposition en Réalité Virtuelle. Vous pourrez découvrir ci-dessous une liste non exhaustive des phobies que nous traitons, ainsi que d'autres troubles.
                    br
                    | N'hésitez pas à #[a(href="contact") nous contacter] si votre situation n'est pas décrite ci-dessous, nous pourrons toujours vous orienter vers une solution adaptée à vos besoins.
            div.column.is-5
            div.column.is-1
            div.column.is-12.has-text-centered
                a(href="#" data-goto="relaxation-2" class="main-goto goto") 
                    | Ça ressemble à quoi ?
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center
    img.illustration.is-hidden-touch(src="/images/girl-vr.png")
    img.frame.frame-layer-1.is-hidden-touch(src="/images/frame-layer-1_alt.png")
    img.frame.frame-layer-2.is-hidden-touch(src="/images/frame-layer-2_alt.png")
    img.frame.frame-layer-3.is-hidden-touch(src="/images/frame-layer-3_alt.png")
    img.frame.frame-layer-4.is-hidden-touch(src="/images/frame-layer-4_alt.png")
    img.frame.frame-layer-5.is-hidden-touch(src="/images/frame-layer-5_alt.png")
    img.frame.frame-layer-6.is-hidden-touch(src="/images/frame-layer-6_alt.png")
section(id="relaxation-2")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            