section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | La
                    | thérapie

                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, ligula ac vehicula finibus, erat lacus rutrum tellus, non ornare ipsum risus tincidunt metus. Mauris quam est, tincidunt ut lobortis non, finibus nec mauris. Maecenas pulvinar lorem nec ipsum consectetur, sit amet consequat magna feugiat. 
                a(href="#" data-goto="therapie-2" class="main-goto goto") 
                    | Comment ça se passe ?
                    br
                    i.fas.fa-chevron-down.center
    img.illustration(src="/images/girl-vr.png")
    img.frame.frame-layer-1(src="/images/frame-layer-1.png")
    img.frame.frame-layer-2(src="/images/frame-layer-2.png")
    img.frame.frame-layer-3(src="/images/frame-layer-3.png")
    img.frame.frame-layer-4(src="/images/frame-layer-4.png")
    img.frame.frame-layer-5(src="/images/frame-layer-5.png")
    img.frame.frame-layer-6(src="/images/frame-layer-6.png")
section(id="therapie-2" data-section="1")
    div.container.is-fluid
        div.columns.is-desktop
            div.column.is-12
                h2.has-text-centered Déroulement d'une thérapie
        div.columns.is-desktop
            div.column.is-8.timeline-desc
                p 1ére séance
            div.column.is-2.timeline-desc
                p à partir de la 1ère séance
            div.column.is-2.timeline-desc
                p à partir de la 3ème séance
        div.columns.is-desktop.is-vcentered(id="timeline-ctr")
            div(id="timeline")
            div.column.is-2.timeline-part.odd
                div.description
                    p Anamnèse/histoire de vie du patient. 
                div.number
                    p 1
            div.column.is-2.timeline-part.even
                div.filling
                div.number
                    p 2
                div.description
                    p explication méthodologie TCC (émotion, fonctionnement phobique, observation des pensées…). Outils pour travailler sur les pensées anxieuses. Travail sur les pensées alternatives pour éviter la lutte anxieuse. Augmenter les capacités d’insight (connaissance de soi).
            div.column.is-2.timeline-part.odd
                div.description
                    p Entrainement à la relaxation (relaxation classique et relaxation VR, cohérence cardiaque, séance d’hypnothérapie).
                div.number
                    p 3
            div.column.is-2.timeline-part.even
                div.filling
                div.number
                    p 4
                div.description
                    p Explication outil et de ses limites : Apprentissage/appropriation de la VR. 
            div.column.is-2.timeline-part.odd
                div.description
                    p Exposition VR
                div.number
                    p 5
            div.column.is-2.timeline-part.even
                div.filling
                div.number
                    p 6
                div.description
                    p Exposition dans le réel (à partir de la 3ème séance de VR). 

