section.first(id="therapie-1")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | La
                    | thérapie

                p.mb-6
                    | La TERV fait partie des thérapies comportementales et cognitives (TCC) et est plus particulièrement issue de la thérapie d’exposition.
                    br
                    | Les TCC regroupent des méthodes de prises en charge de la souffrance psychique issues directement des méthodes expérimentales et se basant sur des connaissances scientifiques vérifiées.
                a(href="#" data-goto="therapie-2" class="main-goto goto") 
                    | Je veux en savoir plus
                    br
                    i.fas.fa-chevron-down.center
    img.illustration(src="/images/girl-vr.png")
    img.frame.frame-layer-1(src="/images/frame-layer-1.png")
    img.frame.frame-layer-2(src="/images/frame-layer-2.png")
    img.frame.frame-layer-3(src="/images/frame-layer-3.png")
    img.frame.frame-layer-4(src="/images/frame-layer-4.png")
    img.frame.frame-layer-5(src="/images/frame-layer-5.png")
    img.frame.frame-layer-6(src="/images/frame-layer-6.png")
section(id="therapie-2")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-1
            div.column.is-5
                h3.mt-6 Une méthode efficace...
                p.mb-6
                    | C’est une méthode issue des TCC utilisée pour travailler sur les phobies, les troubles obsessionnels compulsifs ou le stress post-traumatique.
                    br
                    | Pour faire simple, lorsqu’on souffre de phobie par exemple, la phobie des araignées, on va éviter de tomber nez à nez avec une araignée.
                    | Mais la situation va s’aggraver et on va commencer à éviter des situations où l’on pourrait peut-être rencontrer une araignée, par exemple ne plus aller dans le garage, même si on ne sait pas s’il y a une araignée ou non.
                    | Puis on va éviter d’aller dans la maison de nos parents, car on sait qu’il y a un risque d’y rencontrer des araignées et ainsi de suite.
                    br
                    | Ça n’est pas toujours simple de trouver des situations pour s’exposer et encore moins de le faire seul tout en maitrisant cette exposition.
                h3.mt-6 ... et confortable
                p.mb-6
                    br
                    | Avec la réalité virtuelle, on efface ces deux contraintes, cela devient très simple de s’exposer et en plus on peut le faire dans le confort du cabinet du psychologue, dans un environnement maitrisé, mais pourtant suffisamment réaliste pour que nous puissions nous entrainer à affronter ce qui nous fait peur.
                    | Suffisamment d’études se sont intéressées aux effets de la TERV pour que l’on puisse dire que la TERV est aussi efficace qu’une exposition dite « In vivo » c’est-à-dire dans la réalité.
            div.column.is-5.has-text-centered
                img.is-square(src="/images/therapie-vr.jpg")
            div.column.is-1
                
