section.first(id="therapie-1")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | La
                    | thérapie

                p.mb-6
                    | Avant de pouvoir définir ce qu’est la TERV, il me faut définir 2 choses brièvement : les thérapies comportementales et cognitives (TCC) puis la thérapie d’exposition.
                    br
                    | Les TCC regroupent des méthodes de prises en charge de la souffrance psychique issue directement des méthodes expérimentales et se basant sur des connaissances scientifiques vérifiées.         br
                    |Mais si vous souhaitez en savoir plus sur les TCC je vous conseille de faire un tour sur la page Wikipédia ou encore cette vidéo https://www.youtube.com/watch?v=IcajLqNSfU4.
                a(href="#" data-goto="therapie-2" class="main-goto goto") 
                    | La thérapie d’exposition c’est quoi ?
                    br
                    i.fas.fa-chevron-down.center
    img.illustration(src="/images/girl-vr.png")
    img.frame.frame-layer-1(src="/images/frame-layer-1.png")
    img.frame.frame-layer-2(src="/images/frame-layer-2.png")
    img.frame.frame-layer-3(src="/images/frame-layer-3.png")
    img.frame.frame-layer-4(src="/images/frame-layer-4.png")
    img.frame.frame-layer-5(src="/images/frame-layer-5.png")
    img.frame.frame-layer-6(src="/images/frame-layer-6.png")
section(id="therapie-2")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-10
                h3.mt-6 La thérapie d’exposition c’est quoi ?
                p.mb-6
                    | C’est une méthode issue des TCC utilisée pour travailler sur les phobies, les troubles obsessionnels compulsifs ou le stress post-traumatique.
                    br
                    | Pour faire simple, lorsqu’on souffre de phobie par exemple, la phobie des araignées, on va éviter de tomber nez à nez avec une araignée.
                    | Mais la situation va s’aggraver et on va commencer à éviter des situations où l’on pourrait peut-être rencontrer une araignée, par exemple ne plus aller dans le garage, même si on ne sait pas s’il y a une araignée ou non.
                    | Puis on va éviter d’aller dans la maison de nos parents, car on sait qu’il y a un risque d’y rencontrer des araignées et ainsi de suite.
                    br
                    | Petit à petit cette phobie prend une place de plus en plus importante dans notre vie et devient problématique.
                    br
                    | Pour faire simple, plus on évite une situation qui nous fait peur, moins on va pouvoir s’entrainer à l’affronter et plus cela deviendra difficile de l’affronter dans le futur.
                    br
                    | La thérapie d’exposition nous oblige à affronter l’objet de notre peur ou de notre anxiété, ce qui va, à terme, réduire l’anxiété ou la peur que l’on ressent, mais pas d’inquiétude l’exposition va être progressive, on partira des situations les plus faciles (une image d’araignée) pour aller aux situations les plus difficiles (une araignée vivante).
                    br
                    | De plus, avant de vous exposer des méthodes de relaxations et de gestion de vos émotions vous seront enseignées afin de vous préparer à l’exposition.

                h3 Bon ok j’ai compris, et l’intérêt de la TERV alors ?
                p.mb-6
                    | Et bien ce n’est pas toujours simple de trouver des situations pour s’exposer et on ne maitrise pas très bien cette situation.
                    br
                    | Avec la réalité virtuelle, on efface ses deux contraintes, cela devient très simple de s’exposer et en plus on peut le faire dans le confort du cabinet du psychologue, dans un environnement maitrisé, mais pourtant suffisamment réaliste pour que nous puissions nous entrainer à affronter ce qui nous fait peur.

                h3 Et ça marche aussi bien qu’une vraie situation ?
                p.mb-6
                    | Oui, suffisamment d’études se sont intéressées aux effets de la TERV pour que l’on puisse dire que la TERV est aussi efficace qu’une exposition dite « In vivo » c’est-à-dire dans la réalité.
            div.column.is-2
            div.column.is-12
                a(href="#" data-goto="therapie-3" class="main-goto goto") 
                    | Cette thérapie peut-elle m'aider ?
                    br
                    i.fas.fa-chevron-down.center
section(id="therapie-3")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-12
                h2.has-text-centered Description des phobies (à faire)
            div.column.is-12
                a(href="#" data-goto="therapie-4" class="main-goto goto") 
                    | Comment se déroule la thérapie ?
                    br
                    i.fas.fa-chevron-down.center
section(id="therapie-4")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-12
                h2.has-text-centered Déroulement d'une thérapie
            div.column.is-12
                div.columns
                    div.column.is-8.timeline-desc
                        p 1ére séance
                    div.column.is-2.timeline-desc
                        p À partir de la 1ère séance
                    div.column.is-2.timeline-desc
                        p À partir de la 3ème séance
            div.column.is-12
                div.columns(id="timeline-ctr")
                    div.column.is-2.timeline-part.odd
                        div.number
                            p 1
                        div.description
                            p Anamnèse/histoire de vie du patient. 
                    div.column.is-2.timeline-part.even
                        div.filling
                        div.number
                            p 2
                        div.description
                            p explication méthodologie TCC (émotion, fonctionnement phobique, observation des pensées…). Outils pour travailler sur les pensées anxieuses. Travail sur les pensées alternatives pour éviter la lutte anxieuse. Augmenter les capacités d’insight (connaissance de soi).
                    div.column.is-2.timeline-part.odd
                        div.number
                            p 3
                        div.description
                            p Entrainement à la relaxation (relaxation classique et relaxation VR, cohérence cardiaque, séance d’hypnothérapie).
                    div.column.is-2.timeline-part.even
                        div.filling
                        div.number
                            p 4
                        div.description
                            p Explication outil et de ses limites : Apprentissage/appropriation de la VR. 
                    div.column.is-2.timeline-part.odd
                        div.number
                            p 5
                        div.description
                            p Exposition VR
                    div.column.is-2.timeline-part.even
                        div.filling
                        div.number
                            p 6
                        div.description
                            p Exposition dans le réel (à partir de la 3ème séance de VR). 