section.first(id="therapie-1")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered.is-multiline
            div.column.is-1
            div.column.is-5
                h1
                    | La
                    | thérapie

                p.main.mb-6
                    | La Thérapie d’Exposition en Réalité Virtuelle (TERV) fait partie des Thérapies Cognitives et Comportementales (TTC), elle utilise la thérapie d'exposition avec laquelle vous allez pouvoir progressivement affronter vos peurs afin de les surmonter.
            div.column.is-5
            div.column.is-1
            div.column.is-12.filler
            div.column.is-12.has-text-centered.goto-ctr.is-hidden-touch
                a(href="#" data-goto="therapie-2" class="main-goto goto") 
                    | Je veux en savoir plus
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center
    img.illustration.is-hidden-touch(src="/images/boy-vr.png")
    img.frame.frame-layer-1.is-hidden-touch(src="/images/frame-layer-1_alt.png")
    img.frame.frame-layer-2.is-hidden-touch(src="/images/frame-layer-2_alt.png")
    img.frame.frame-layer-3.is-hidden-touch(src="/images/frame-layer-3_alt.png")
    img.frame.frame-layer-4.is-hidden-touch(src="/images/frame-layer-4_alt.png")
    img.frame.frame-layer-5.is-hidden-touch(src="/images/frame-layer-5_alt.png")
    img.frame.frame-layer-6.is-hidden-touch(src="/images/frame-layer-6_alt.png")
section(id="therapie-2")
    div.container.is-fluid.full-height
        div.columns.is-vcentered.is-desktop.is-multiline
            div.column.is-1
            div.column.is-4.has-text-centered
                img.is-square.reveal(src="/images/therapie-vr.jpg")
            div.column.is-1
            div.column.is-5
                h3.mt-6 Une méthode efficace...
                p.mb-6
                    | Il y a aujourd'hui suffisamment de recul et d'études sur le sujet pour nous permettre d'affirmer que la thérapie d'exposition est efficace dans le traitement des phobies
                h3.mt-6 ... et confortable
                p.mb-6
                    br
                    | La TERV permet d'obtenir des résultats similaires à la thérapie d'exposition "in vivo" c'est-à-dire une exposition dans la réalité, mais sans quitter le confort du cabinet.
                    | Grâce à la réalité virtuelle, il devient très simple de s'exposer à nos peurs dans un environnement maitrisé, sécurisé et suffisamment réaliste.

            div.column.is-1
            div.column.is-12.filler
            div.column.is-12.has-text-centered.goto-ctr.is-hidden-touch
                a(href="#" data-goto="therapie-3" class="main-goto goto") 
                    | Le traitement des phobies
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center
section(id="therapie-3")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered.is-multiline
            div.column.is-1
            div.column.is-5
                p.mb-6
                    | La phobie est une anxiété cliniquement significative, provoquée par l'exposition à un objet ou une situation spécifique redoutés, conduisant souvent à un comportement d'évitement.
                p.mb-6
                    | La Thérapie par exposition en Réalité Virtuelle, vous permet de casser le cercle vicieux de l’évitement, en vous exposant, dans un environnement sécurisé, à vos peurs.
                    br        
                    | Voici une liste, non exhaustive, des phobies existantes pouvant être prise en charge en TERV :
                p.mb-6
                    | - Agoraphobie (peur de se retrouver dans un lieu public)  
                    br
                    | - Phobies sociales (peur excessive d’une ou plusieurs situations sociales) 
                    br
                    | - Entomophobie (phobie des insectes)  
                    br
                    | - Claustrophobie (peur des espaces confinés, des lieux clos, des petites pièces et de l'enfermement) 
                    br
                    | - Acrophobie (peur du vide) 
                    br 
                    | - Amaxophobie (peur de la conduite) 
                    br
                    | - Sidérodromophobie (peur du train) 
                    br
                    | - Zoophobie (peur des animaux) 
                p
                    | Si vous souffrez de phobie et que la TERV vous intéresse, n'hésitez pas à #[a(href="contact") nous contacter] 
            div.column.is-5
                div.columns.is-desktop.is-multiline
                    div.column.is-1
                    div.column.is-5
                        figure.image.is-square
                            img.reveal(src="/images/foule.jpg")
                    div.column.is-5
                        figure.image.is-square
                            img.reveal(src="/images/speech.jpg")
                    div.column.is-1
                    div.column.is-1
                    div.column.is-5
                        figure.image.is-square
                            img.reveal(src="/images/conduite.jpg")
                    div.column.is-5
                        figure.image.is-square
                            img.reveal(src="/images/angoisse.jpg")
                    div.column.is-1
            div.column.is-1