section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered.is-multiline
            div.column.is-1
            div.column.is-5
                h1
                    | Le
                    | cabinet

                p.main
                    | Deux psychologues cliniciens à Dijon vous proposent leurs compétences en Thérapie Cognitive et Comportementales (TCC), associées à des technologies de pointe en Réalité Virtuelles.
                    br
                    | Pour affronter et traiter vos phobies, ou pour une relaxation immersive, nos thérapies vous sont proposées dans un cadre accueillant et rassurant. Découvrez-en un peu plus sur nous.
            div.column.is-5
            div.column.is-1
            div.column.is-12.has-text-centered
                a(href="#" data-goto="cabinet-2" class="main-goto goto") 
                    | Qui sommes-nous ?
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center

    img.illustration.is-hidden-touch(src="/images/cabinet.png")
    img.frame.frame-layer-1.is-hidden-touch(src="/images/frame-layer-1_alt.png")
    img.frame.frame-layer-2.is-hidden-touch(src="/images/frame-layer-2_alt.png")
    img.frame.frame-layer-3.is-hidden-touch(src="/images/frame-layer-3_alt.png")
    img.frame.frame-layer-4.is-hidden-touch(src="/images/frame-layer-4_alt.png")
    img.frame.frame-layer-5.is-hidden-touch(src="/images/frame-layer-5_alt.png")
    img.frame.frame-layer-6.is-hidden-touch(src="/images/frame-layer-6_alt.png")
section(id="cabinet-2")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-4.pres-card
                img.is-16by9(src="/images/cedric-tomicki.jpg")
                div.card-content
                    h2 Cédric Tomicki
                    p Psychologue en cabinet libéral depuis septembre 2017, spécialisé dans la thérapie d’affirmation de soi, j’utilise mes connaissances en thérapie cognitive et comportementale pour vous aider à atteindre vos objectifs.
                    br
                    p #[strong cedric.tomicki@gmail.com ]
                    p #[strong 06 25 05 35 79 ]
                    p #[strong N° ADELI : 21 93 0793 1 ]
            div.column.is-2
            div.column.is-4.pres-card
                img.is-16by9(src="/images/antoine-vinter.jpg")
                div.card-content
                    h2 Antoine Vinter
                    p Psychologue clinicien, psychothérapeute, hypnothérapeute, spécialisé en Neuropsychologie et psychologie du développement. Également salarié de l’association ACODEGE et chargé de cours de neuropsychologie et de psychologie développementale à l’Université de Bourgogne.
                    p #[strong vinterantoine.psychologue@gmail.com ]
                    p #[strong 07 67 13 23 87 ]
                    p #[strong N° ADELI : 21 93 0677 6 ]
            div.column.is-1