section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered.is-multiline
            div.column.is-1
            div.column.is-5
                h1
                    | Les
                    | phobies

                p.main.mb-6
                    | Les phobies sont parmis les troubles les plus propices au traitement par la Thérapie par Exposition en Réalité Virtuelle. Vous pourrez découvrir ci-dessous une liste non exhaustive des phobies que nous traitons, ainsi que d'autres troubles.
                    br
                    | N'hésitez pas à #[a(href="contact") nous contacter] si votre situation n'est pas décrite ci-dessous, nous pourrons toujours vous orienter vers une solution adaptée à vos besoins.
            div.column.is-5
            div.column.is-1
            div.column.is-12.has-text-centered
                a(href="#" data-goto="phobies-2" class="main-goto goto") 
                    | Voir les troubles traités
                    br
                    i.fas.fa-chevron-down.faa-falling.animated.center
    img.illustration.is-hidden-touch(src="/images/girl-vr.png")
    img.frame.frame-layer-1.is-hidden-touch(src="/images/frame-layer-1_alt.png")
    img.frame.frame-layer-2.is-hidden-touch(src="/images/frame-layer-2_alt.png")
    img.frame.frame-layer-3.is-hidden-touch(src="/images/frame-layer-3_alt.png")
    img.frame.frame-layer-4.is-hidden-touch(src="/images/frame-layer-4_alt.png")
    img.frame.frame-layer-5.is-hidden-touch(src="/images/frame-layer-5_alt.png")
    img.frame.frame-layer-6.is-hidden-touch(src="/images/frame-layer-6_alt.png")
section(id="phobies-2")
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                div.columns
                    div.column.is-12.pres-card
                        div.card-content
                            h2 Phobies
                            h3 Agoraphobies
                            p.mb-6 
                                | École, hopital, métro, bus, train, gare, aéroport, avion, tunnel, scenceur, grandes surfaces

                            h3 Phobies spécifiques 
                            p.mb-6 
                                | Hauteur, claustrophobie, affluences, parler en public, conduite, animaux (chien, chat, pigeon, rat), insectes volants (araignée, abeille), école, vomi, sang injection, avion.

                            h3 Phobies sociales
                            p.mb-6 
                                | Parler en public, école, hôpital, amphithéâtre, immeuble, avion, aéroport…

                            h3 Autres troubles anxieux
                            p 
                                | Stress post-traumatique, TOC (aéroport, hôpital, pièce sous-sol). 
            div.column.is-5
                div.columns.is-multiline
                    div.column.is-12.pres-card
                        div.card-content
                            h2 Addictions
                            p Tabac
                            p Alcool
                            p Jeux d’argent
                            p Drogues
                    div.column.is-12.pres-card
                        div.card-content
                            h2 Troubles alimentaires
                            p Dysmorphophobie
                            p Expositions diverses
            div.column.is-1