section.first
    div.container.is-fluid.full-height
        div.columns.is-desktop.is-vcentered
            div.column.is-1
            div.column.is-5
                h1
                    | Les
                    | phobies

                p.mb-6
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, ligula ac vehicula finibus, erat lacus rutrum tellus, non ornare ipsum risus tincidunt metus. Mauris quam est, tincidunt ut lobortis non, finibus nec mauris. Maecenas pulvinar lorem nec ipsum consectetur, sit amet consequat magna feugiat. 

    img.illustration(src="/images/cabinet.png")
    img.frame.frame-layer-1(src="/images/frame-layer-1.png")
    img.frame.frame-layer-2(src="/images/frame-layer-2.png")
    img.frame.frame-layer-3(src="/images/frame-layer-3.png")
    img.frame.frame-layer-4(src="/images/frame-layer-4.png")
    img.frame.frame-layer-5(src="/images/frame-layer-5.png")
    img.frame.frame-layer-6(src="/images/frame-layer-6.png")
section